.Add {
  position: relative;
  z-index: 10;
}

.textbtn {
  color: #606060;
  padding: 0;
}

.button {
  display: flex;
  justify-content: center;
}

.alert {
  display: block;
  position: absolute;
  top: 0;
}

.alertbtn {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 15px;
}

.alertbtnSpace {
  width: 20px;
}

.answer {
  font-size: 15px;
  margin: 10px 0;
  padding: 4px 30px 4px 30px;
  border-radius: 15px;
  background-color: #0055FF;
  color: white;

  &:hover {
    background-color: #0022CC;
  }
}

.textsection {
  padding: auto;

  h2 {
    font-size: 1.8vw;
    display: flex;
    white-space: nowrap;

    .input {
      max-width: 85%;
      width: 100vw;
      vertical-align: 4px;
    }
  }
}