$black: #001A33;
$white: #CCE6FF;
$blue: #2E8AE6;
$red: #E62E2E;
$yellow: #E6E62E;

$black-l4: #003366;
$black-l3: #002D59;
$black-l2: #00264D;
$black-l1: #002040;
$black-l0: $black;
$black-d0: $black;
$black-d1: #001326;
$black-d2: #000D1A;
$black-d3: #00060D;
$black-d4: #000000;

$white-l5: #F6F4F4;
$white-l4: #FFFFFF;
$white-l3: #F2F9FF;
$white-l2: #E6F2FF;
$white-l1: #D9ECFF;
$white-l0: $white;
$white-d0: $white;
$white-d1: #BFDFFF;
$white-d2: #B3D9FF;
$white-d3: #A6D2FF;
$white-d4: #99CCFF;

$blue-l4: #99CCFF;
$blue-l3: #80BFFF;
$blue-l2: #66B3FF;
$blue-l1: #499DF2;
$blue-l0: $blue;
$blue-d0: $blue;
$blue-d1: #1F75CC;
$blue-d2: #1262B3;
$blue-d3: #085099;
$blue-d4: #004080;

$red-l4: #FF9999;
$red-l3: #FF8080;
$red-l2: #FF6666;
$red-l1: #F24949;
$red-l0: $red;
$red-d0: $red;
$red-d1: #CC1F1F;
$red-d2: #B31212;
$red-d3: #990808;
$red-d4: #800000;

$yellow-l4: #FFFF99;
$yellow-l3: #FFFF80;
$yellow-l2: #FFFF66;
$yellow-l1: #F2F249;
$yellow-l0: $yellow;
$yellow-d0: $yellow;
$yellow-d1: #CCCC1F;
$yellow-d2: #B3B312;
$yellow-d3: #999908;
$yellow-d4: #808000;