@import "colors";
@font-face {
  font-family: 'NovaMono';
  src: url('../fonts/NovaMono-Regular.ttf') format('truetype');
}

.root {

  @mixin borderStyle() {

    display: block;

    height: 1px;
    width: 30px;
    background: $white-l0;

    margin-bottom: 10px;


    &:last-child {

      margin-bottom: 30px;
    }
  }

  $paddings: 15px;
  display: flex;
  width: 100%;
  background: $white-l5;


  .sidebar {
    position: -webkit-sticky;
    /* Safari対応 */
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 1101;
    transition: 0.2s;
    background: linear-gradient(168.92deg, #00091A 64.21%, #001745 82.24%, #0043CA 90.43%, #8FB5FF 99.83%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: $paddings;
    padding-right: $paddings;
  }


  .hamburger {

    cursor: pointer;
    width: 40px;
    margin-top: 15px;


    /* メニューを閉じるアニメーション ==================================================================================== */
    .menuCloseArrow {
      @include borderStyle
    }


    &:hover>.menuCloseArrow {

      transition: 0.2s;

      &:nth-child(1) {

        width: 15px;
        height: 2px;
        transform: translateY(7px) translateX(-1px) rotate(140deg);
      }


      &:nth-child(2) {

        height: 2px;
      }

      &:nth-child(3) {
        width: 15px;
        height: 2px;
        transform: translateY(-7px) translateX(-1px) rotate(-140deg);

        margin-bottom: 27px;
        /* アニメーションの際の調整 */
      }
    }


    /* メニューを開くアニメーション ====================================================================================== */
    .menuOpenArrow {
      @include borderStyle
    }


    &:hover>.menuOpenArrow {

      transition: 0.2s;

      &:nth-child(1) {

        width: 15px;
        height: 2px;
        transform: translateY(7px) translateX(16px) rotate(-140deg);
      }


      &:nth-child(2) {

        height: 2px;
      }

      &:nth-child(3) {
        width: 15px;
        height: 2px;
        transform: translateY(-7px) translateX(16px) rotate(140deg);

        margin-bottom: 27px;
        /* アニメーションの際の調整 */
      }
    }
  }


  .flexContainer {

    display: flex;
    align-items: center;
    column-gap: 10px;

    margin-top: 10px;

    margin-right: -$paddings;
    margin-left: -$paddings;

    padding-right: $paddings;
    padding-left: $paddings;

    &:hover {

      background-color: rgb(255, 255, 255);
    }
  }


  .icon {

    display: block;
    flex-shrink: 0;
    fill: $white-l4;
    width: 25px;
    font-size: 30px;

    margin-top: 12px; // 微調整
    margin-bottom: 12px; // 微調整
  }


  .pageName {
    font-size: 14px;
    color: $white-l4;
    flex-direction: column;
    white-space: nowrap;
  }

  .sidebarbottom {
    position: absolute;
    bottom: 10px;
    display: flex;
  }

  .loginName {
    text-align: center;
    margin: auto;
    color: $white-l4;
    white-space: nowrap;
  }

  .loginNameNone {
    display: none;
  }

  .logout {
    margin: 16px 0;
    margin-right: 10px;
    color: white;
  }

  .main {
    width: 100vw;
  }

  .title {
    font-size: 26px;
    padding:20px 20px 20px 20px;
    font-family: 'NovaMono';
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  .mainContent {
    width: 100%;
    background: $white-l5;
    color: $black-d0;
    padding: 0px 10px 10px 10px;

    p,
    h3 {
      margin: 0px;
      padding: 5px;
    }
  }

  .line {
    height: 2px;
    background-color: #979797;
    margin: 0;
    color: black;
  }

  .appbarbottom {
    background-color: $white-l5;
    padding: 10px 0px 45px 0px;
  }

}