.login {
    display: flex;
}

@font-face {
    font-family: 'NovaMono';
    src: url('../fonts/NovaMono-Regular.ttf') format('truetype');
}

.sideimage {
    /* Rectangle 44 */
    width: 40vw;
    height: 100vh;
    left: 0px;
    top: -4px;
    /* Rectangle 44 */
    background: linear-gradient(168.92deg, #00091A 64.21%, #001745 82.24%, #0043CA 90.43%, #8FB5FF 99.83%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;

    .onelink1 {
        position: absolute;
        left: 9%;
        font-family: 'NovaMono';
        color: rgba(255, 255, 255, 0.9);
        font-size: 80px;
    }

    .onelink2 {
        position: absolute;
        left: 9%;
        font-family: 'NovaMono';
        font-size: 80px;
        line-height: 111px;
        color: rgba(255, 255, 255, 0.9);
        filter: blur(20px);
    }

    @media screen and (max-width: 1100px) {
        a {
            display: none;
        }
    }

    .logo {
        display: flex;
        margin: -20px auto 20px auto;
        width: 60%;
        height: auto;
    }

    .satellite {
        display: block;
        margin: 180px auto;
        width: 20%;
    }

    @media screen and (max-width: 1100px) {
        .logo {
            display: none;
        }
        .satellite {
            display: none;
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        .logo {
            animation: logo-spin infinite 60s linear;
        }
    }

    @keyframes logo-spin {
        from {
            transform: rotate(360deg);
        }

        to {
            transform: rotate(0deg);
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        .satellite {
            animation: satellite-opacity 7s linear;
        }
    }

    @keyframes satellite-opacity {
        0%{
            opacity: 0;
        }  
        50% {
            opacity: 0.3;
        }
        100%{
            opacity: 0.9;
        }
    }

}


.content {
    margin-top: 120px;
    margin-left: 50px;
}

.title {
    margin: 0 10px;
    font-size: 60px;
}

.subtitle {
    margin-left: 15px;
    font-size: 30px;
    margin-top: 80px;
}

.gmtext {
    text-align: center;
    margin: 80px 0 10px 15px;
}


.link {
    color: #008cff;

    &:hover {
        color: #5500ff;
        text-decoration: underline;
    }
}