.contentbox {
    padding: 0px;
}

.box2 {
    padding: 2px 20px;
    color: #111111;
    /*文字色黒色*/
    background: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
    border-radius: 20px;
    /*角の丸み*/
    display: inline-block;
    width: 100%;
}


.uta {
    font-weight: bold;
    width: 1;

}

.main {
    width: 100%;
}

.abc {
    display: block;
    margin: 0 0 0 auto;
}

.link {
    float: right;
    display: flex;
    align-items: center;
}

.title {
    margin: 0;
    white-space: nowrap;
    font-size: 1.6vmax;
}

.bottomtext {
    padding-left: 12px;
}

.display1 {
    display: none;
}

.display2 {
    display: block;
}

.bookmark1 {
    color: #d81b60;
    z-index: 10;
}

.bookmark2 {
    color: #e91e63;
    z-index: 10;
}

.searchbtn {
    position: fixed;
    top: 90px;
    z-index: 1100;
    width: 30%;
}

.searchbtn_q {
    position: fixed;
    top: 90px;
    z-index: 1100;
    width: 30%;
}

.QStext {
    display: flex;
    align-items: center;
    

    h2 {
        margin: 0;
        white-space: nowrap;
        font-size: 1.6vmax;
    }

    p {
        font-size: 1.2vmax;
    }
}

.watch {
    display: flex;
    z-index: 10;
    white-space: nowrap;
}

.block {
    display: block;
}
