.box2 {
    padding: 2px 20px;
    color: #111111;
    /*文字色黒色*/
    background: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
    border-radius: 20px;
    /*角の丸み*/
    display: inline-block;
    width: 100%;
}

.box2 p {
    margin: 0;
    padding: 0;
}

.uta {
    font-weight: bold;
    width: 1;

}

.main,
.abc {
    display: block;
    margin: 0 0 0 auto;
}

.okiniiri {
    float: right;
    display: flex;
    align-items: center;
}

.abc h2 {
    margin: 0;
    white-space: nowrap;
    font-size: 1.6vmax;
}

.display1 {
    display: none;
}

.display2 {
    display: block;
}

.QStext {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    h2 {
        margin: 0;
        white-space: nowrap;
        font-size: 1.6vmax;
    }
    p {
        font-size: 1.2vmax;
    }
}

.watch {
    display: flex;
    margin-left: 52%;
    white-space: nowrap;
}